*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

/* Pannel1 */

/* box1 */
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10px;
}

.nav-logo{
    height: 50px;
    width: 100px;
    
}

.logo{
    height: 48px;
    width: 93px;
    background-image: url(amz_imgs/amazon_logoo.PNG) ;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border:2px solid white;
    border-radius: 2px;
}

/* box 2 */
.nav-address{
    padding: 10px;
}

.add-first{
    color:#cccccc;
    font-size: 0.6rem;
    margin-left: 15px;

}
.add-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;

}
.add-icon{
    display: flex;
}

/* box3 */
.nav-search{
    display: flex;
    width: 920px;
    height:40px;
    border-radius: 4px;
    background-color: orange;
    justify-content: space-evenly;

}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
    
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    font-size: 1.2rem;
    color:#0f1111;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/* box4 */

.language{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px ;
    padding: 3px;
}
.lang-opt{
    font-size: 1rem;
    width: 45px;
    height:35px;
    margin-left: 3px;
    background-color: transparent;
    color: #cccccc;
    border-color: transparent;
    font-weight: 700;
}

/* box5,6,7 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-return{
    padding: 5px;

}
.nav-signin{
    padding: 5px;
}
.nav-cart i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 2px;
    
}
.nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
}


/* Panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
   
}
.panel-all{
    padding: 9px;
}


.panel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 10px;
    padding: 9px;

}
.panel-ops {
    width: 70%;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 9px;
}





/* Hero Section */
.hero-section{
    height: 400px;
    background-size: cover;
    background-image: url(amz_imgs/hero_img.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 40px;
    width: 80%;
    display: flex;
    background-color: white;
    color:#000000;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #054ea1;
}


/* Shop sections */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(amz_imgs/hero2_img.JPG);
    background-size: cover;

}
.box{
    height: 350px;
    width: 23%;
    background-color: rgb(255, 255, 255);
    padding: 20px 0px 15px ;
    margin-top: 5px;
    margin-bottom: 5px;
}    
.box1-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box1-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

/* box2 */

.box2-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box2-content{
    margin-left: 1rem;
    margin-right: 1rem;

}


/* box3 */
.box3-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box3-content{
    margin-left: 1rem;
    margin-right: 1rem;

}


/* box4 */
.box4-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box4-content{
    margin-left: 1rem;
    margin-right: 1rem;

}


/* Shop sections 2*/

.box5-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box5-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

/* box6 */

.box6-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box6-content{
    margin-left: 1rem;
    margin-right: 1rem;

}


/* box7 */
.box7-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box7-content{
    margin-left: 1rem;
    margin-right: 1rem;

}


/* box8 */
.box8-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}
.box8-content{
    margin-left: 1rem;
    margin-right: 1rem;

}


/* footer */
.white{
    height: 20px;
}
.foot-panel1{
    height:40px;
    background-color: #222f3d;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    background-color: #131921;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}

.foot-panel3{
    height: 70px;
    background-color: #131921;
    color: white;
    border-top:0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 48px;
    width: 93px;
    background-image: url(amz_imgs/amazon_logoo.PNG) ;
    background-size: cover;
}
.foot-panel4{
   
    background-color: #131921;
    color: white;
    height:80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages{
    font-size: 0.7rem;
    text-align: center;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
}